################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/.vs/XP.Injection
/Source/packages
**/bin/Debug
**/bin/Release
**/obj/
*.user
/Source/_NCrunch_XP.Injection
